@using Microsoft.EntityFrameworkCore.Storage
@using ecom.CustomLogic;
@model IEnumerable<ecom.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    IEnumerable<Product> productsList = ViewData["productList"] as IEnumerable<Product>;
    IEnumerable<Cart> cartsList = ViewData["cartList"] as IEnumerable<Cart>;
    string[] daysweek = new string [] { "monday", "tuesday", "wednesday", "thursday", "friday" };
    Mathfunctions mylogic = new Mathfunctions();
}

<partial name="_MainSlider" />

<div class="confidence-panel">
    <h3>Shop with Confidence</h3>
    <p>At Ecom.com we aim to get our products shipped to our customers with speed and care. Ensuring our products are in perfect condition before sending them off so that every customer is a happy customer.</p>
</div>

@if(productsList != null){
    <div class="trending-products">
        <h3>Best Sellers</h3>
        <div class="featured-panel">
            <div class="row">
                @foreach(Product product in productsList)
                {
                    <div class="featured-product col-6 col-sm-5 col-md-3">
                        <div class="icon">
                            @if(@product.discount > 0){
                                <div class="discount-label">-%@product.discount</div>
                            }
                            <img src="~/images/@product.image">
                        </div>
                        <div class="featured-description">
                            <div class="featured-title">
                                @product.product_name
                            </div>
                            <div class="featured-price">
                                @if(@product.discount > 0){ //if the product has a discount it will show the new price and old price.
                                    <div class="new-price">
                                        <div class="money-sign">£</div>
                                        <div>@mylogic.discounted_price(@product.discount, @product.price)</div>
                                        <div class="money-sign">.@mylogic.discounted_price_cents(@product.discount, @product.price)</div>
                                    </div>
                                    <div class="old-price">£@product.price</div>
                                }
                                else
                                {
                                    <div class="new-price">
                                        <div class="money-sign">£</div>
                                        <div>@mylogic.discounted_price(@product.discount, @product.price)</div>
                                        <div class="money-sign">.@mylogic.discounted_price_cents(@product.discount, @product.price)</div>
                                    </div>
                                }
                            </div>
                            <div class="add-to-basket">Add to Basket</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="home-categories">
        <h3>Shop by Category</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="home-category">
                    <div class="details">
                        <h5>Computers</h5>
                        <div class="para">Apple / HP / Dell</div>
                        <a asp-area="" asp-controller="Home" asp-action="Computers">
                            <div class="category-button">Shop Now</div>
                        </a>
                    </div>
                    <div class="icon">
                        <img src="~/images/alien.png">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="home-category">
                    <div class="details">
                        <h5>Gaming</h5>
                        <div class="para">Sony / Microsoft / Nintendo</div>
                        <a asp-area="" asp-controller="Home" asp-action="Gaming">
                            <div class="category-button">Shop Now</div>
                        </a>
                    </div>
                    <div class="icon">
                        <img src="~/images/ps5.png">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="home-category">
                    <div class="details">
                        <h5>Phones</h5>
                        <div class="para">Samsung / Iphone / Huawei</div>
                        <a asp-area="" asp-controller="Home" asp-action="Phones">
                            <div class="category-button">Shop Now</div>
                        </a>
                    </div>
                    <div class="icon">
                        <img src="~/images/sam.jpg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="home-category">
                    <div class="details">
                        <h5>Televisions</h5>
                        <div class="para">Sony / LG / Apple</div>
                        <a asp-area="" asp-controller="Home" asp-action="Televisions">
                            <div class="category-button">Shop Now</div>
                        </a>
                    </div>
                    <div class="icon">
                        <img src="~/images/tele.jpg">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="home-category">
                    <div class="details">
                        <h5>Toys</h5>
                        <div class="para">Drones / Cars / Boats</div>
                        <a asp-area="" asp-controller="Home" asp-action="Toys">
                            <div class="category-button">Shop Now</div>
                        </a>
                    </div>
                    <div class="icon">
                        <img src="~/images/drone.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
